.feature__subtitle {
  margin: 0;
  margin-top: 10px;

  font-size: 17px;
  line-height: 16px;
  font-weight: 700;

  color: #63d1bb;
  text-transform: uppercase;
}
.feature__img {
  margin: 0;

  text-align: center;
}

.feature__description {
  color: $txt-secondary;
}
.feature__table {
  color: $txt-secondary;
}
.feature__price {
  display: block;
  margin-top: 20px;
  margin-bottom: 30px;

  font-size: 17px;
  line-height: 24px;
  font-weight: 700;

  color: $txt-secondary;
  text-align: center;
}
.feature__btn {
  display: block;
  width: auto;
  padding: 16px 25%;

  font-size: 16px;
  line-height: 16px;
  font-weight: 700;

  border: 2px solid #444444;
  text-decoration: none;
  color: $txt-secondary;
  text-transform: uppercase;
  text-align: center;
}
