@media (max-width: $mobile-width-only) {
  .menu__nav {
    overflow: hidden;

    position: absolute;
    top: 84px;
    left: 0;
    right: 0;
    z-index: 1;
    background: #ffffff;

    &--opened {
      height: 315px;

      transition: height 0.9s ease;
    }

    &--closed {
      height: 0;
      transition: height 0.9s ease;
    }
    &--nojs {
      height: 315px;
    }
  }
}

.menu__list {
  margin: 0;
  padding: 0;

  list-style: none;
  text-align: center;
}
.menu__item {
    padding: 25px 0;

    border-bottom: 2px solid #ececec;

    &--basket {
      border-bottom: none;
    }

    &--hidden {
      display: none;
    }
}
.menu__link {
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;

  color: $txt-primary;
  text-decoration: none;

}
