.promo {
  background: #fbfbfb url("../img/hero-mobile.jpg") 0 75px no-repeat;
  width: 100%;
  height: 377px;
}
.promo__main-title {
  font-size: 27px;
  line-height: 30px;
  font-weight: 700;

  color: $txt-secondary;
}
.promo__title {
  font-size: 19px;
  line-height: 24px;
  font-weight: 700;

  color: #ffffff;
  text-decoration: none;
  text-align: left;

  &--bg-lighter-green {
    display: block;
    background-color: #63d1bb;
  }
  &--bg-darken-green {
    display: block;
    background-color: #56c3b2;
  }
}
